<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>
   </configSections>
   <connectionStrings>
      <add name="Student_Information_Management.My.MySettings.administer_studentsConnectionString"
         connectionString="server=localhost;user id=root;password=HarshVardhanKumar1;persistsecurityinfo=True;database=administer_students"
         providerName="MySql.Data.MySqlClient" />
      <add name="WindowsApp.My.MySettings.administer_studentsConnectionString"
         connectionString="server=localhost;user id=root;password=HarshVardhanKumar1;persistsecurityinfo=True;database=administer_students"
         providerName="MySql.Data.MySqlClient" />
      <add name="WindowsApp.My.MySettings.masterConnectionString" connectionString="Data Source=PC;Initial Catalog=master;Integrated Security=True"
         providerName="System.Data.SqlClient" />
   </connectionStrings>
   <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
